.cover__subtitle{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 122%;
    text-align: center;
    color: white;
    max-width: 360px;
    margin: 0;
    position: relative;
    z-index: 1;
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
      font-size: 14px;
      line-height: 114%;
      max-width: 288px;
    }
  }