.header__link_input-ru {
    display: none;
  }
  .header__link_label-ru {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 18px 18px 6px 0;
  }
  .header__link_label-ru:after {
    content: 'Ru';
    font-size: 24px;
    line-height: 117%;
    position: relative;
  }

  .header__link_input-ru:checked ~ .header__link_label-ru:after {
    content: 'Ru';
    text-decoration: underline;
  }


  .header__link_input-en {
    display: none;
  }
  .header__link_label-en {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 18px 0 6px;
  }
  .header__link_label-en:after {
    content: 'En';
    font-size: 24px;
    line-height: 117%;
    position: relative;
  }

  .header__link_input-en:checked ~ .header__link_label-en:after {
    content: 'En';
    text-decoration: underline;
  }

  @media screen and (max-width: 767px) {
    .header__link_label-ru:after {
      font-size: 18px;
      line-height: 111%;
    }
}

@media screen and (max-width: 767px) {
  .header__link_label-en:after {
    font-size: 18px;
    line-height: 111%;
  }
}