.footer__copyright {
    margin: 0;
    font-size: 14px;
    line-height: 114%;
}

@media screen and (max-width: 767px) {
    .footer__copyright {
       margin: 48px 0 0 0;
       line-height: 100%;
    }
  }