.place__link {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 122%;
    color: white;
    text-decoration: none;
    border-bottom: 2px solid currentColor;
    max-width: fit-content;
}