.footer__nav-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 767px) {
    .footer__nav-list {
        flex-direction: column;
    }
  }