.footer__nav-links {
    margin-right: 18px;
}

.footer__nav-links:last-of-type {
    margin: 0;
}

@media screen and (max-width: 767px) {
    .footer__nav-links {
        margin-right: 0;
        margin-bottom: 32px;
    }
  }