.header__link_label_en {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 18px 0 6px;
  }
  .header__link_label_en:after {
    content: 'En';
    font-size: 24px;
    line-height: 117%;
    position: relative;
  }

  .header__link_input_en:checked ~ .header__link_label_en:after {
    content: 'En';
    text-decoration: underline;
  }

  @media screen and (max-width: 767px) {
    .header__link_label_en:after {
      font-size: 18px;
      line-height: 111%;
    }